<!-- <p>quote works!</p> -->
<div class="container-fluid main-pg">
  <h1 class="text-center h-1">Quotes-Hub</h1>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="card dark text-white">
        <ul>
          <li *ngFor='let quote of quote;let i = index'>
            {{ quote.name }} <br> <br> posted on {{quote.completeDate|date}}
            <app-quote-detail *ngIf='quote' [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-detail>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 myform">

      <div class="card dark text-white">
        <app-quote-form (addQuotes)="addNewQuote($event)"></app-quote-form>
      </div>

    </div>
  </div>
</div>
