<div class="container-fluid myForm">
    <h2 class="text-center">Submit a Quote</h2>
    <hr>
    <br>
    <form (ngSubmit)='submitQuotes()' #quoteForm='ngForm' action="">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="newQuotes.author" name="author" #author='ngModel' placeholder="Jane Doe" required>

            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">

                <p>Author Names is required</p>

            </div>

            <!-- Should be able to add user input in real life -->

            <!-- {{newQuotes.author}} -->
        </div>

        <div class="form-group">
            <label for="quote">Quote</label>
            <textarea  id="quote" rows="8" class="form-control" placeholder="Compose your quote here" [(ngModel)]="newQuotes.name" name="name" #name='ngModel' required></textarea>

            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">

                <p>Author Quote is required</p>

            </div>

            <!-- Should be able to add user input in real life -->

            <!-- {{newQuotes.name}} -->
        </div>

        <div class="form-group">
            <button type="submit"class="btn btn-success">Post</button>            
        </div>
    </form> <br>


    <div class="text">
        <p>
            “Our capacity to draw happiness from aesthetic objects or material goods in fact seems critically dependent on our first satisfying a more important range of emotional or psychological needs, among them the need for understanding, for love, expression and respect.”
            <em><strong>– Alain De Botton</strong></em>
        </p>
        <br>
        <p>
            “As people spin faster and faster in the pursuit of merely personal happiness, they become exhausted in the futile effort of chasing themselves.”
            <em><strong>– Andrew Delbanco</strong></em>        
        </p>
        <br>
        <p>
            “Happiness consists more in conveniences of pleasure that occur everyday than in great pieces of good fortune that happen but seldom.”
            <em><strong>– Benjamin Franklin</strong></em>
        </p>
        <br>
        <p>
            “To enjoy good health, to bring true happiness to one’s family, to bring peace to all, one must first discipline and control one’s own mind. If a man can control his mind he can find the way to Enlightenment, and all wisdom and virtue will naturally come to him.”
            <em><strong>– Buddha</strong></em>        
        </p>
        <br>
        <p class="text-center">
            Thankyou for passing by the Quotes-App. <br>
            All Rights Reserved 2020&copy;
        </p>
    </div>
</div>