<div class="container-fluid">
    <h2 class="text-center">Submit a Quote</h2>
    <br>
    <form action="">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" required class="form-control" id="name">
        </div>

        <div class="form-group">
            <label for="quote">Quote</label>
            <textarea  id="quote" rows="4" class="form-control" required placeholder="Compose your quote here"></textarea>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success">Post</button>            
        </div>
    </form>
</div>